@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

h2, h1, h3, h4, h5, h6{
    font-family: 'Nunito', sans-serif;
    
}

body{
    background: linear-gradient(89.31336248556522deg, rgba(15, 215, 154,1) 17.8704425940911%,rgba(15, 215, 154,1) 19.22851556705104%,rgba(255, 255, 255,1) 99.35482097168762%);
}

a{
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: rgb(0, 133, 250);
}

.box{
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}



.heading-box{
    background: linear-gradient(110.8210951619775deg, rgba(37, 46, 58,1) 5.533854166666667%,rgba(71, 84, 99,1) 96.67968749999999%);
    margin: 0;
    padding: 10px ;
    
}

.heading-box a{
    color: white;
}

.content{
    padding: 15px;
    background-color: #ecf0f1;
}

.content p{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.taskHeading{
    display: flex;
    margin: 8px 0;
}

.taskHeading a{
    color:rgb(32, 29, 29);
}



.taskAdd{
    display: flex;
    align-items: center;
}

.button{
    padding: 8px 10px;
    border-radius: 20px;
    background-color: #1B9CFC;
    color: white;
    border: none ;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(241, 56, 35);
}


input[type=text], input[type=password], textarea {
    border: 1px solid #182C61;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    outline: none;
}

.links:hover{
    text-decoration: underline;
}

input[type="submit"] {
    outline: none;
}